@page "{id:int}"
@model ProductManagementRazorPages.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Product Details";
}
<h1>Product Details</h1>
<dl class="row">
    <dt class="col-sm-2">Name</dt><dd class="col-sm-10">@Model.Product.ProductName</dd>
    <dt class="col-sm-2">Category</dt><dd class="col-sm-10">@Model.Product.Category?.CategoryName</dd>
    <dt class="col-sm-2">Stock</dt><dd class="col-sm-10">@Model.Product.UnitsInStock</dd>
    <dt class="col-sm-2">Price</dt><dd class="col-sm-10">@Model.Product.UnitPrice.ToString("C")</dd>
</dl>
<a asp-page="Edit" asp-route-id="@Model.Product.ProductId" class="btn btn-primary">Edit</a> <a asp-page="Index" class="btn btn-secondary">Back</a>
